@import url("https://fonts.googleapis.com/css?family=Product+Sans");

@media(max-width: 720px){
  .logo{
    margin-left: 2px;
  }
}

.illo-hero{
  position: absolute;
  bottom: 10vh;
  right: 0px;
}


.fadein {
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.board{
  height: 400px;
  overflow: scroll;
  scroll-behavior: smooth;
}

$primary: #000;

$family-sans-serif: "Product Sans", sans-serif;


@import "../node_modules/bulma/bulma.sass";